@import (reference) 'var_mix.less';

header{
	position: relative;
	user-select: none;
	img{
		position: absolute;
		cursor: pointer;
	}

	#icon_nav{
		left: 0px;
		margin: auto 6px;
		padding: 7px;
	}

	.btn-group{
		position: absolute;
		display: flex;
		align-items: center;
		right: 1.5rem;
		margin: 0.4375rem 0rem;
		.text-label;
	}

	button{
		display: inline-block;
		border-radius: 0.1875rem;
		padding: 0.46875rem 0.75rem;
		color: #455A64;
		font-size: 0.6875rem;
		line-height: 0.6875rem;
		font-weight: 600;
		text-transform: uppercase;
		user-select: none;
		cursor: pointer;
		outline: none;
		background-color: #CFD8DC;
		transition: background-color .5s ease;

		&:first-of-type{
			border-top-right-radius: 0rem;
			border-bottom-right-radius: 0rem;
			margin-left: 0.75rem;
		}

		&:last-of-type{
			border-top-left-radius: 0rem;
			border-bottom-left-radius: 0rem;
		}

		&:hover{
			background-color:#B0BEC5;
			transition: background-color .2s ease;
		}

		&.btn-selected{
			background-color: #2F4D5D;
			background-position:100px;
			color: #FFF;
			transition: background-color .2s ease;
		}
	}
}

nav{
	background-color: @navy;
	z-index: 1000;
	header{
		padding: 36px 24px;
		text-align: center;
		border-bottom: 1px solid lighten(@navy, 10%);
		h1{
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 1.5em;
			color: @white;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 1.5;
		}
		h3{
			margin-top: 12px;
			font-size: .75rem;
			color: @white;
			text-transform: uppercase;
			font-weight: 400;
		}
	}

	summary{
		position: relative;
		font-size: @text-lg;
		text-transform: uppercase;
		font-weight:600;
		color: @white;
		height: 32px;
		padding: 0px 24px 24px 24px;
		outline: none;
		user-select: none;
		&:hover{
			cursor: pointer;
		}
		&::-webkit-details-marker {
			display: none;
		}
		&::-moz-list-bullet {
			list-style-type: none;
		}
		& span{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	details{
		padding-top: 24px;
		& > summary::before{
			display: inline-block;
			content: url(../../img/select.svg);
			transform: rotate(-90deg);
			margin-right: 8px;
			margin-top: 6px;
		}

		&[open] > summary::before {
			transform: rotate(0deg);
		}
	}

	ul{
		border-bottom: 1px solid lighten(@navy, 10%);
		padding-bottom: 24px;
	}

	li{
		position: relative;
		height: 30px;
		padding-left: 48px;
		margin: 5px 0px;
		background-color: inherit;
		transition: background-color .4s ease;
		user-select: none;
		&:hover{
			background-color: #647484;
			transition: background-color .5s ease;
			cursor: pointer;
		}
		&.selected{
			background-color: @white;
			transition: background-color .3s ease;
			& a{
				color: @navy;
			}
		}
	}

	a{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: @text-sm;
		color: @white;
		&:link, &:visited{
			color: @white;
		}
		&:hover{
			text-decoration: none;
		}
	}

	&::-webkit-scrollbar {
	    width: .75rem;
	}

	&::-webkit-scrollbar-track {
		background: lighten(@navy, 8%);
	    box-shadow: inset 0 0 5px @black;
	}

	&::-webkit-scrollbar-thumb {
	    border-radius: .75rem;
	    background: shade(@navy, 50%);
	    box-shadow: inset 0 0 3px @black;
	}

	&::-webkit-scrollbar-thumb:window-inactive {
		background: shade(@navy, 10%);
	}
}
