@import (reference) 'var_mix.less';


table.techstack{
    width: 670px;
    margin: auto;
    .text-desc;
    font-size: @text-lg;
    border: 1px solid @matte;
    vertical-align: middle;

    &:not(:last-of-type){
        margin-bottom: 48px;
    }

    tr{
        &:not(:last-of-type){
            border-bottom: 1px solid @matte;
        }
        display: flex;

        &:first-child{
            flex: 1;
        }
    }

    td{
        padding: 16px;
        flex: 6;

        &:first-of-type{
            font-weight: 700;
            flex: 1;
        }

        & p:not(:first-of-type){
            margin-top: 1rem;
        }
    }
}
