/* 						COLOR */
@blue: 	#00AEEF;
@orange: #FF8300;
@navy: #354052;
@matte: #EEEEEE;
@lt-gray: #989EA7;
@gray:	#464646;
@black: #000000;
@white: #EDEFF0;

/*

Background: #F5F9FC
Dk Border: #BBCCDB
Lt Border: #DDE6ED
Disabled: #D5D7DB

*/

/* 						STYLE */
@shadow: 0px 0px 5px rgba(0,0,0,.3);
@text-xs: 0.75rem;
@text-sm: 0.8125rem;
@text-lg: 0.9375rem;
@text-xl: 1.25rem;


/* 						TYPE */

.text-section{
	color: @blue;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
}

.text-desc{
	color: @gray;
	font-size: @text-xl;
	line-height: 1.6;
	font-weight: 400;
}

.text-label{
	color: @lt-gray;
	font-size: @text-sm;
	font-weight: 600;
	text-transform: uppercase;
}
