/* 						COLOR */
@blue: 	#0098F3;
@orange: #FF8300;
@navy: #354052;
@matte: #EEEEEE;
@lt-gray: #94A3B0;
@gray:	#464646;
@black: #000000;
@white: #EDEFF0;
@purple: #B21DAC;

/*

Text Color: #151921
Background: #F5F9FC
Dk Border: #BBCCDD
Lt Border: #DDE6ED
Disabled: #D4D6DA

*/

/* 						STYLE */
@shadow-md2: 0px 1px 2px rgba(0,0,0,.45); // Panels
@shadow-md4: 0px 2px 3px rgba(0,0,0,.25); // App Bar & Menus
@shadow-md6: 0px 3px 4px rgba(0,0,0,.45); // Overlays
@text-xs: 0.75rem;
@text-sm: 0.8125rem;
@text-lg: 0.9375rem;
@text-xl: 1.25rem;


/* 						TYPE */

.text-section{
	color: @blue;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
}

.text-desc{
	color: @gray;
	font-size: @text-xl;
	line-height: 1.6;
	font-weight: 400;
}

.text-label{
	color: @lt-gray;
	font-size: @text-sm;
	font-weight: 600;
	text-transform: uppercase;
}
